<!DOCTYPE html>

<html>

<!-- Head -->
<head>
    
    <title>Birmakat</title>
    <link rel="stylesheet" type="text/css" href="stylesheetforside.css">
    <meta charset="UTF-8">
    <meta name="description" content="Birmakat">
    <meta name="keywords" content="cat">
    <link href="https://fonts.googleapis.com/css?family=Alkatra&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=divise-with, initial-scale=1.0">
</head>
<!-- Body -->
<body>
    <header>
        <nav>
            <ul>
                <li><a href="Forside.html">Forside</a></li>
                <li><a href="mineKatte.html">Mine Katte</a></li>
                <li><a href="#">Medlemmer</a></li>
                <li><a href="#">Log ud</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="news">
            <h2>Relevante links</h2>

            <ul>
                <li><a href="https://da.wikipedia.org/wiki/Hellig_Birma">Hellig Birma wiki</a></li>
                <li><a href="https://www.dba.dk/dyr/katte-og-tilbehoer/racekatte/race-hellig-birma/">Køb/Salg</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Birman">Birman wiki (engelsk)</a></li>
            </ul>

            <figure class="kat1">
            <img src="birma1.jpg" alt="">
            <figcaption><a href =birma1.jpg>jytte</a></figcaption>
            </figure>
            <figure class="kat1">
                <img src="birma2.jpg" alt="">
                <figcaption><a href =birma2.jpg>pjuske</a></figcaption>
                </figure>

        </section>

        <section class="info">
            <h2>Velkommen</h2>
            <p>Velkommen til vores racekattehjemmeside, hvor vi er stolte af at præsentere den smukke og elegante racekat, Hellig Birma. Hellig Birma er en racekat med en unik personlighed og et fantastisk udseende, der har gjort den til en af de mest populære racekatte i verden.

                Hellig Birma er kendt for sin bløde og silkeagtige pels, dens blå øjne og dens venlige og kærlige temperament. Denne racekat er en fantastisk følgesvend og en loyal ven, der vil bringe glæde og lykke til enhver familie.
                
                På vores hjemmeside kan du lære mere om Hellig Birma, dens historie, personlighed og pleje. Vi har også information om opdrættere og klubber, hvor du kan finde din egen Hellig Birma.
                
                Vi håber, at vores hjemmeside vil være en kilde til information og inspiration for alle, der elsker Hellig Birma og ønsker at lære mere om denne fantastiske racekat. Tak fordi du besøger vores hjemmeside, og vi håber, at du vil nyde at udforske alt, hvad vi har at tilbyde.</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lyWF8m8i8Zc" 
                allowfullscreen>
            </iframe>
        </section>

    </main>
</body>
</html>
