<!DOCTYPE html>

<html>

<!-- Head -->

<head>
    
    <title>Katte Hjemmeside</title>
    <link rel="stylesheet" type="text/css" href="../static/stylesheet%20index.css">
    <meta charset="UTF-8">
    <meta name="description" content="skallet kat">
    <meta name="keywords" content="cat">
    <link href="https://fonts.googleapis.com/css?family=Alkatra&display=swap" rel="stylesheet">
    <meta name="author" content="DAT 123">
    <meta name="viewport" content="width=divise-with, initial-scale=1.0">
</head>

<!-- Body -->

<body>
    
    <header>
        <h1> Velkommen til hellig Birma.dk</h1>
    </header>

    <div class="login-box">
        
        <h2>Login</h2>

        <form th:action="@{/login}" method="post">
            <div class="user-box">
                <input type="email" name="email" required="">
                <label>Email</label>
            </div>

            <div class="user-box">
                <input type="password" name="password" required="">
                <label>Password</label>
            </div>
                <input type="submit" value="Login">
                <a href="../../../../../../Kattehjemmeside/Opret%20bruger.html"><input type="button" value="Opret bruger"></a>
        </form>

    </div>

</body>

</html>