  <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Kæledyr</title>
</head>
<body>
<div>
  <h1>Liste over kæledyr</h1>
  <table>
    <thead>
    <tr>
      <th>Navn</th>
      <th>Alder</th>
      <th>Køn</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="kæledyr : ${kæledyr}">
      <td th:text="${kæledyr.knavn}"></td>
      <td th:text="${kæledyr.kalder}"></td>
      <td th:text="${kæledyr.koen}"></td>
    </tr>
    </tbody>
  </table>
</div>
  <form th:action="@{/add-cat}" method="get">
  <input type="submit" value="tilføj-kat">
</form>
</body>
</html>
