<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<head>
    
    <title>Katte Hjemmeside</title>
    <link rel="stylesheet" type="text/css" href="stylesheetindex.css">
    <meta charset="UTF-8">
    <meta name="description" content="skallet kat">
    <meta name="keywords" content="cat">
    <link href="https://fonts.googleapis.com/css?family=Alkatra&display=swap" rel="stylesheet">
    <meta name="author" content="DAT 123">
    <meta name="viewport" content="width=divise-with, initial-scale=1.0">
</head>

<!-- Body -->
<body>
    <header>
        <h1>Opret bruger</h1>
    </header>
    <main>
        <div class="login-box">
            <h2>Opret bruger</h2>
            <form action="#" th:action="@{/opret bruger}" th:object="${medlem}" method="post">
                <div class="user-box">
                    <input type="text" th:field="*{fnavn}" required>
                    <label>Fornavn</label>
                </div>
                <div class="user-box">
                    <input type="text" th:field="*{enavn}" required>
                    <label>Efternavn</label>
                </div>
                <div class="user-box">
                    <input type="email" th:field="*{email}" required>
                    <label>E-mail</label>
                </div>
                <div class="user-box">
                    <input type="password" th:field="*{password}" required>
                    <label>Adgangskode</label>
                </div>
                <div class="user-box">
                    <input type="password" th:field="*{confirmPassword}" required>
                    <label>Bekræft adgangskode</label>
                </div>
                <input type="submit" value="Opret bruger">
            </form>
        </div>
    </main>
</body>
</html>