<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Hellig Birma Hjemmeside</title>
  <link rel="stylesheet" type="text/css" href="stylesheetindex.css">
  <meta charset="UTF-8">
  <meta name="description" content="Hellig Birma">
  <meta name="keywords" content="kat">
  <link href="https://fonts.googleapis.com/css?family=Alkatra&display=swap" rel="stylesheet">
  <meta name="author" content="DAT 123">
  <meta name="viewport" content="width=divise-with, initial-scale=1.0">
</head>
<body>
<div>
  <h1>Opret Bruger</h1>
  <form action="#" th:action="@{/register}" th:object="${medlem}" method="post">
    <div>
      <label for="fnavn">Fornavn:</label>
      <input type="text" id="fnavn" th:field="*{fnavn}" required>
    </div>
    <div>
      <label for="enavn">Efternavn:</label>
      <input type="text" id="enavn" th:field="*{enavn}" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" th:field="*{email}" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" th:field="*{password}" required>
    </div>
    <button type="submit">Opret Bruger</button>
  </form>

  <p th:text="${successMessage}" th:if="${successMessage != null}"></p>
  <p th:text="${errorMessage}" th:if="${errorMessage != null}"></p>

</div>
</body>
</html>
