<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Cat</title>
</head>
<body>
<div>
    <h1>Add a Cat</h1>
    <form action="#" th:action="@{/add-cat}" th:object="${cat}" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" required>
        </div>
        <div>
            <label for="age">Age:</label>
            <input type="number" id="age" th:field="*{age}" required>
        </div>
        <button type="submit">Add Cat</button>
    </form>
</div>
</body>
</html>
